<div class="HealthPage">
  <div class="HealthPage__inner">
      <div class="HealthPage__col">
        <app-targets-per-source class="HealthPage__card"></app-targets-per-source>
        <app-targets-per-second class="HealthPage__card"></app-targets-per-second>
      </div>
      <div class="HealthPage__col">
          <app-network-map class="HealthPage__card"></app-network-map>
      </div>
      <div class="HealthPage__col">
          <app-cpu-temp class="HealthPage__card"></app-cpu-temp>
          <app-cpu-usage class="HealthPage__card"></app-cpu-usage>
          <app-hdd-space class="HealthPage__card"></app-hdd-space>
          <app-network-traffic class="HealthPage__card"></app-network-traffic>
      </div>
  </div>
</div>
