@import '../../../../styles/variables-and-helpers';

.Header {
  background: var(--color-background-grey);

  &__navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__navigation-item {

  }

  &__link {
    display: block;
    padding: $spacing / 2;
    color: var(--color-text);
  }
}
