<div class="Card">
  <h2 class="Card__title">Network Traffic</h2>
  <div class="Card__inner">
    <div class="Card__flex">
      <div class="Card__flex-item Card__flex-item--grow">
        <canvas class="NetworkTraffic__canvas" #canvas></canvas>
      </div>
      <div class="Card__flex-item">
        <div class="NetworkTraffic__legend">
          <div class="NetworkTraffic__line NetworkTraffic__line--dashed"></div>
          <div class="NetworkTraffic__label">TX</div>
        </div>
        <div class="NetworkTraffic__legend">
            <div class="NetworkTraffic__line"></div>
            <div class="NetworkTraffic__label">RX</div>
          </div>
      </div>
    </div>
  </div>
</div>
